<?xml version="1.0" encoding="UTF-8"?>
<beans>
       <bean id="user" class="beans.User" >
              <property name="userName" value="robin"/>
       </bean>

       <bean id="userDAO" class="dao.UserDAOImpl" />
       <bean id="userService" class="service.UserService">
              <property name="userDAO" ref="userDAO" />
       </bean>
</beans>

